<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEU_Community</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <table style="width: 40%; text-align:center; margin-top: 5%; border: 1px solid #444444;
    border-collapse: collapse; margin-left:auto; margin-right:auto;">
        <tr>
            <th>구인공고</th>
        </tr>
        <tr>
            <th>같이 함께 꾸며 갈 개발자 구합니다</th>
        </tr>
        <tr>
            <th>사용stack: nodejs(webpack, express)</th>
        </tr>
        <tr>
            <th>경력: 무관</th>
        </tr>
        <tr>
            <th>
                
                <form>
                    <input type="text" placeholder="이름(학과)입력해주세요">
                    <input type="submit">
                </form>
                ex.홍길동(컴퓨터공학과)
            </th>
        </tr>
    </table>
    <%- include('./partials/footer') %>
</body>
</html>