<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <h1>TinyMCE Demo</h1>
        <!-- Text area matching the selector specified in the TinyMCE configuration -->
        <textarea id="my-expressjs-tinymce-app">Hello, World!</textarea>
    
        <!-- Script element sourcing TinyMCE -->
        <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
        <!-- Script element sourcing the TinyMCE configuration -->
        <script type="application/javascript" src= "/public/js/tinyMceInit.js"></script>
      </body>
</body>
</html>