<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <style>
        table {
          width: 90%;
          border: 1px solid #444444;
          border-collapse: collapse;
          margin-left:auto;
          margin-right:auto;
        }
        th, td {
          border: 1px solid #444444;
        }
      </style>
    <table>
        <tr>
            <th>제목</th>
            <th><%= data.title %></th>
        </tr>
        <tr>
            <th>내용</th>
            <th><%- data.content %></th>
        </tr>
    </table>
    <%- include('./partials/footer') %>
</body>
</html>