<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/public/css/editor.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <h1>글쓰기</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="제목을 입력해주세요">
        <!-- Text area matching the selector specified in the TinyMCE configuration -->
        <textarea id="my-expressjs-tinymce-app" name="content">Hello, World!</textarea>
        <input type="submit" value="등록하기">
    </form>
    
    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/public/js/tinyMceInit.js"></script>
    <%- include('./partials/footer') %>
</body>
</html>