<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <form method="POST">
        <div>
            <input type="text" name="title" placeholder="방 제목">
        </div>
        <div>
            <input type="number" name="max" placeholder="허용 인원" value="10">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <%- include('../partials/footer') %>
</body>
</html>